
.st0 {fill:#707070;}

.st1 {fill:none;stroke:#0831FC;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:bevel;}

svg #layer_1{ stroke:rgb(65, 252, 8);
 }

h1 {font-family: 'Courier New', Courier, monospace;
}

.page1{ 
        position: absolute;
        left: 40%;
        top: 40%;
        text-decoration: none;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40pt;
        color: blue;
        align-items: center;
}